.section {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-block: 2rem;
}

.rightSide {
  position: relative;
  width: 35%;
}

.h3 {
  font-size: 2rem;
  margin-bottom: 0;
}
.p {
  font-size: 1.3rem;
  line-height: 140%;
}
.img {
  width: 40%;
  max-height: 40vh;
}

@media (max-width: 750px) {
  .section {
    flex-direction: column;
    height: auto;
  }
  .rightSide {
    width: 80%;
  }
  .img {
    max-width: 90%;
    /* max-height: 40vh; */
  }
  .h3 {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
  }
  .p {
    margin-top: 0.3rem;
    font-size: 1.2rem;
  }
}
